<template>
  <div class="main wrap" id="home">
    <!-- 上边 -->
    <el-container style="height: 100%; border: 1px solid #eee">
      <el-header
        style="font-size: 12px;display: flex;
      justify-content: space-between;background:#fff"
      >
        <img style="height:100%;line-height: 60px;" src="../assets/timg.jpeg" />
        <div>
          <img
            style="height:30px;width:30px;margin-top:18px;border-radius: 50%;border:1px #ccc solid;"
            src="../assets/1.jpg"
          />
          <el-dropdown class="el-dropdown-selfdefine">
            <!-- <i class="el-icon-setting" style="margin-right: 15px"></i> -->

            <span>{{this.username}}</span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <router-link to="/home/addtest">个人中心</router-link>
              </el-dropdown-item>
              <el-dropdown-item>
                <router-link to="/home/class/pendingclass">我的班级</router-link>
              </el-dropdown-item>
              <el-dropdown-item>
                <a
                  target="_blank"
                  href="https://gitlab.com/1701F-three-group-project-one/exam-project-one/tree/dev"
                >设置</a>
              </el-dropdown-item>
              <el-dropdown-item>
                <router-link to="/login">退出登录</router-link>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </el-header>
      <!-- 下面-->
      <el-container>
        <el-aside width="200px" class="aside">
          <el-menu class="menu color">
            <el-submenu index="1" class="el-submenu-title">
              <template slot="title">
                <div class="clor">
                  <i class="el-icon-s-order"></i>试题管理
                </div>
              </template>
              <router-link index="1-1" to="/home/addtest" tag="el-menu-item" class="clor">添加试题</router-link>
              <router-link index="1-2" to="/home/listtest" tag="el-menu-item" class="clor">试题分类</router-link>
              <router-link index="1-3" to="/home/looktest" tag="el-menu-item" class="clor">查看试题</router-link>
            </el-submenu>
            <el-submenu index="2">
              <template slot="title">
                <div class="clor">
                  <i class="el-icon-user"></i>用户管理
                </div>
              </template>
              <router-link index="2-1" to="/home/user/adduser" tag="el-menu-item" class="clor">添加用户</router-link>
              <router-link index="2-2" to="/home/user/showuser" tag="el-menu-item" class="clor">用户展示</router-link>
            </el-submenu>
            <el-submenu index="3">
              <template slot="title">
                <div class="clor">
                  <i class="el-icon-s-cooperation"></i>考试管理
                </div>
              </template>
              <router-link index="3-1" to="/home/exam/addexam" tag="el-menu-item" class="clor">添加考试</router-link>
              <router-link index="3-2" to="/home/exam/listexam" tag="el-menu-item" class="clor">试卷列表</router-link>
            </el-submenu>
            <el-submenu index="4">
              <template slot="title">
                <div class="clor">
                  <i class="el-icon-s-grid"></i>班级管理
                </div>
              </template>
              <router-link index="4-1" to="/home/classmanage" tag="el-menu-item" class="clor">班级管理</router-link>
              <router-link
                index="4-2"
                to="/home/classroommanage"
                tag="el-menu-item"
                class="clor"
              >教室管理</router-link>
              <router-link index="4-2" to="/home/studentmanage" tag="el-menu-item" class="clor">学生管理</router-link>
            </el-submenu>
            <el-submenu index="5">
              <template slot="title">
                <div class="clor">
                  <i class="el-icon-s-grid"></i>阅卷管理
                </div>
              </template>
              <router-link
                index="5-1"
                to="/home/class/pendingclass"
                tag="el-menu-item"
                class="clor"
              >待批班级</router-link>
            </el-submenu>
          </el-menu>
        </el-aside>
        <el-main>
          <div style="width: 100%;height: 100%;overflow: hidden">
            <router-view></router-view>
          </div>
          <!-- 打开视口 -->
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import Cookies from "js-cookie";

export default {
    data() {
        return {
            username: ""
        };
    },
    methods: {
        userinformation() {
            this.$router.push(
                "https://baike.baidu.com/item/%E7%BE%8E%E5%A5%B3/109596?fr=aladdin"
            );
        }
    },
    created() {
        this.username = Cookies.get("user_name");
    }
};
</script>

<style scoped>
.wrap {
  width: 100%;
  height: 100%;
}
body > .el-container {
  margin-bottom: 40px;
  height: 100%;
  width: 100%;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
#home {
  width: 100%;
  height: 100%;
}

.el-header,
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  color: #333;
  background: #232a41;
  text-align: center;
}
.el-aside li,
.el-aside ul {
  width: 100%;
  border: 0;
}
.el-main {
  height: 100%;
  color: #333;
}
.menu {
  background: #232a41;
  color: aliceblue;
}
.el-aside li {
  color: #ccc;
  background-color: #232a41;
}
.el-aside ul > li.router-link-active {
  background-color: #000;
  color: #fff;
}
.el-aside .clor {
  color: #ffffff;
}
li.is-opened {
  background: #242a3f;
}
.menu .el-submenu :hover{
  background: #666 !important;
  /* z-index: 99999; */
}

</style>
