<template>
  <div id="login-div">
    <div id="login" style="padding:5%">
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
        <el-form-item prop="pass">
          <el-input type="username" v-model="ruleForm.pass" autocomplete="off" placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item prop="checkPass">
          <el-input
            type="password"
            v-model="ruleForm.checkPass"
            autocomplete="off"
            placeholder="请输入密码"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-checkbox v-model="checked">记住密码</el-checkbox>
          <el-button @click="resetForm('ruleForm')">忘记密码</el-button>
        </el-form-item>
        <el-button type="primary" style="width:100%" @click="submitForm('ruleForm')">登录</el-button>
      </el-form>
    </div>
  </div>
</template>

<script>
import Cookies from 'js-cookie';
import codeDictionary from '../utils/statusCodeDictionary';
export default {
    data () {
        var validatePass = (rule, value, callback) => {
            if (value === "") {
                callback(new Error("请输入用户名"));
            } else {
                if (this.ruleForm.checkPass !== "") {
                    this.$refs.ruleForm.validateField("checkPass");
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === "") {
                callback(new Error("请输入密码"));
            } else {
                callback();
            }
        };
        return {
            checked: false,
            ruleForm: {
                pass: "",
                checkPass: ""
            },
            rules: {
                pass: [{ validator: validatePass, trigger: "blur" }],
                checkPass: [{ validator: validatePass2, trigger: "blur" }]
            }
        };
    },
    methods: {
        submitForm () {
        //登录
            const {pass, checkPass} = this.ruleForm;
            this.$axios
                .post('/api/user/login', {'user_name':pass, 'user_pwd':checkPass})
                .then(res=>{
                    console.log(res, 'res a')
                    if (res.data.code === 1) {
                        this.token = res.data.token;
                        Cookies.set('token', this.token);//存储token cookie
                        Cookies.set('user_name', pass);//存储本地  Peach0126!  w916peach
                        if (this.checked) {
                            console.log('记住密码');
                            Cookies.set('user_pwd', checkPass);// Peach0126!  w916peach
                            Cookies.set('forgetPwd', {check:this.checked});
                        }else{
                            Cookies.remove('forgetPwd');
                        }
                        let dataconfig = JSON.parse(res.config.data)
                        this.$router.push({name:'home',
                            params: {
                                'user_name':dataconfig.user_name, 'user_pwd': dataconfig.user_pwd
                            }})
                    }else {
                        console.error(res.data.msg)
                    }
                })
                .catch(error=>{
                    console.log(`${codeDictionary[error.response.status]}`)
                })
        },
        resetForm(formName) {
        //重置
            this.$refs[formName].resetFields();
        }
    },
    created() {
        if (Cookies.get('user_name')) {
            this.ruleForm.pass = Cookies.get('user_name');
        }
        let isCheck = Cookies.get('forgetPwd');
        if(isCheck){
            this.checked = true
            this.ruleForm.pass = Cookies.get('user_name');
            this.ruleForm.checkPass = Cookies.get('user_pwd')
        }
    }
};
</script>

<style scoped>
#login-div {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../assets/1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#login {
  width: 450px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -230px;
  margin-top: -150px;
}
</style>
