<template>
    <div class="layer-content">
        <div class="layer-title">
            <h3>添加班级</h3>
            <h3 @click="resetForm(layerIsShow)">×</h3>
        </div>
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="教室名">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="resetForm(layerIsShow)">取消</el-button>
                <el-button type="primary" @click="onSubmit(form.name)">提交</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
export default {
    props:{
        layerIsShow:Boolean
    },
    data(){
        return{
            form: {
                name: '',
                room:[]
            }
        }
    },
    methods:{
        onSubmit(name) {
            this.$axios.post('/api/manger/room', {
                'room_text':name
            }).then((res)=>{
                console.log(res)
                this.$emit('resetLayer', false)
                if(res.data.code){
                    this.$axios.get('/api/manger/room').then(({data})=>{
                        this.roomData = data.data
                    }).catch((error)=>{
                        console.log(error)
                    })
                }
            })
        },
        resetForm(layerIsShow){
            this.$emit('resetLayer', !layerIsShow)
        }
    }
}
</script>

<style scoped>
    .layer-content{
        width: 550px;
        height: 350px;
        background: #ffffff;
    }
    .layer-title{
        display: flex;
        justify-content: space-between;
        padding: 20px ;
        border-bottom: 1px solid #cccccc;
    }
    .layer-title h3{
        font-size: 22px;
        font-weight: normal;
    }
    .layer-title h3:nth-child(2){
        color: #aaaaaa;
    }
    .el-form-item{
        margin: 20px;
    }
    .el-button:nth-child(1){
        width: 64px;
    }
    .el-button:nth-child(2){
        width: 112px;
        background: #0139fd;
    }
</style>
