<template>
    <div class="block">
        <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[5, 10, 20, 50, 100]"
        :page-size="20"
        layout=" prev, pager, next, sizes, jumper"
        :total=list.length>
        </el-pagination>
    </div>
</template>
<script>
export default {
    props: {
        list: Array
    }, 
    components: {

    },
    data () {
        return {
            currentPage: 1,
            pageSize: 20
        }
    },
    computed: {

    },
    methods: {
        handleSizeChange (val) {
            // console.log(`每页 ${val} 条`);
            this.$bus.$emit('spic', val)
        },
        handleCurrentChange (val) {
            // console.log(`当前页: ${val}`);
            this.$bus.$emit('splie', val)
        }
    },
    created () {
        
    },
    mounted () {
        // console.log(this.list.length)
    }
}
</script>
<style  lang="">
.block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #fff;
    height: 50px;
    align-items: center;
}
.el-pager {
    height: 30px;
}
</style>
