<template>
    <div class="table">
        <el-table
                :data="roomData"
                border
                style="width: 100%">
            <el-table-column
                    prop="room_text"
                    label="教室号">
            </el-table-column>
            <el-table-column
                    label="操作">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="big">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
export default {
    methods: {
        handleClick(row) {
            console.log(row);
        }
    },
    data() {
        return {
            roomData: []
        }
    },
    created() {
        this.$axios.get('/api/manger/room').then(({data})=>{
            // console.log(data.data)
            this.roomData = data.data
        })
    }
}
</script>

<style scoped>
    .table{
        width: 100%;
        height: 100%;
    }
    .table el-table{
        width: 100%;
        height: auto;
    }
    el-table_1_column_1{
        width: 100%;
    }

    .el-button--text{
        color: #888888;
    }
</style>
