<template>
    <el-select @change="checkFn" v-model="value" v-bind:placeholder= place>
        <el-option
        v-for="item in flag ? roomst : grade"
        :key="item"
        :value="item">
        <span style="float: left">{{ item }}</span>
        
        </el-option>
    </el-select>
</template>
<script>
export default {
    props: {
        place: String,
        roomst: Array,
        grade: Array,
        flag: Boolean
    },
    components: {

    },
    data () {
        return {
            cities: [],
            value: ''
        }
    },
    computed: {

    },
    methods: {
        checkFn () {
            if (this.flag) {
                this.$bus.$emit('checge', this.value)
            } else {
                this.$bus.$emit('change', this.value)
            }

        }
    },
    created () {

    },
    mounted () {
        this.$bus.$on('clent', (res) => {
            // console.log(res)
            this.value = res
        })
    }
}
</script>
<style scoped lang="">

</style>
