<template>
    <div>
        <el-table
        :data="data.slice((page - 1) * pageSize, page * pageSize)"
        style="width: 100%">
            <el-table-column
                prop="student_name"
                label="姓名"
                style="width: 100%">
            </el-table-column>
            <el-table-column
                prop="student_id"
                label="学号"
                style="width: 100%">
            </el-table-column>
            <el-table-column
                prop="grade_name"
                label="班级"
                style="width: 100%">
            </el-table-column>
            <el-table-column
                prop="room_text"
                label="教室"
                style="width: 100%">
            </el-table-column>
            <el-table-column
                prop="student_pwd"
                label="密码"
                style="width: 150%">
            </el-table-column>
            <el-table-column
                prop="operation"
                label="操作"
                style="width: 10%">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.$index, scope.row)" type="text" size="small">删除</el-button>
                    <!-- <el-button type="text" size="small">编辑</el-button> -->
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
export default {
    props: {
        data: Array
    },
    components: {

    },
    data () {
        return {
            pageSize: 20, //每页条数
            page: 1 // 当前页
        }
    },
    computed: {

    },
    methods: {
        handleClick(index, row) {
            this.$confirm('将永久删除该同学, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$bus.$emit('delete', row)
                this.$message({
                    type: 'success',
                    message: '删除成功!'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                });          
            });
        }
    },
    created () {

    },
    mounted () {
        this.$bus.$on('splie', (res) => {
            this.page = res
        })
        this.$bus.$on('spic', (res) => {
            this.pageSize = res
        })
    }
}
</script>
<style >
.has-gutter tr{
    padding: 16px;
}
.has-gutter tr th {
    background-color: #f4f7f9 !important;
}
</style>
