<template>
  <div class="wrap">
    <h2 class="title">
      添加试题
    </h2>
    <div class="add-body">
      <h3>题目信息</h3>
      <p class="question-body-title">题干</p>
      <el-input class="question-body-title-inp" v-model="textTitle" placeholder="请输入题目标题，不超过20个字" maxlength="20"/>
      <p class="question-body-msg">题目主题</p>
      <div class="textarea">
        <mavon-editor v-model="editorValueBody" @save="editorSave"/>
      </div>
      <div class="type-select">
        <div>
          <p>请选择考试类型</p>
          <el-select v-model="testType" placeholder="">
            <el-option
              v-for="item in testArr"
              :key="item.exam_id"
              :label="item.exam_name"
              :value="item.exam_id">
            </el-option>
          </el-select>
        </div>

        <div>
          <p>请选择课程类型</p>
          <el-select v-model="courseTypeText" placeholder="">
            <el-option
              v-for="item in courseTypeArr"
              :key="item.subject_id"
              :label="item.subject_text"
              :value="item.subject_id">
            </el-option>
          </el-select>
        </div>

        <div>
          <p>请选择题目类型</p>
          <el-select v-model="topicType" placeholder="">
            <el-option
              v-for="item in topicArr"
              :key="item.questions_type_id"
              :label="item.questions_type_text"
              :value="item.questions_type_id">
            </el-option>
          </el-select>
        </div>

      </div>
      <p class="answer">答案信息</p>
      <div class="textarea">
        <mavon-editor v-model="editorValueAnswer" @save="editorSave"/>
      </div>
      <el-button type="primary" @click="sub">提交</el-button>
    </div>
  </div>
</template>

<script>
import cookie from 'js-cookie'
export default {
    name:'AddTest',
    data(){
        return {
            userInfo:{}, //用户信息

            textTitle:'', //标题文字

            editorValueBody:'',   //题目主题文本框内容
            editorValueAnswer:'',   //题目答案文本框内容

            courseTypeArr:[], //课程类型数组
            courseTypeText:'', //课程类型文字
            courseTypeId:'', //课程id

            testArr:[], //考试类型数组
            testType:'', //考试类型

            topicArr:[], //题目类型数组
            topicType:'', //题目类型
        }
    },
    methods:{
        editorSave(){
            let params = {};
            this.testType ? params['exam_id'] = this.testType : console.log('无考试类型参数');
            this.topicType ? params['questions_type_id'] = this.topicType : console.log('无试题类型参数');
            this.courseTypeText ? params['subject_id'] = this.courseTypeText : console.log('无课程类型参数');
            this.editorValueBody ? params['questions_stem'] = this.editorValueBody : console.log('无题干参数');
            this.editorValueAnswer ? params['questions_answer'] = this.editorValueAnswer : console.log('无答案参数');
            this.textTitle ? params['title'] = this.textTitle : console.log('无标题参数');

            cookie.set('addTestSave', params);

            this.$message({
                message: '保存成功',
                type: 'success'
            });
        },
        sub(){
            let params = {};
            let that = this;
            params['user_id'] = this.userInfo['user_id'];

            if (this.testType) {
                params['exam_id'] = this.testType
            }else{
                this.$message({
                    showClose: true,
                    message: '考试类型不能为空',
                    type: 'warning'
                });
                return false
            }

            if (this.topicType) {
                params['questions_type_id'] = this.topicType
            }else{
                this.$message({
                    showClose: true,
                    message: '试题类型不能为空',
                    type: 'warning'
                });
                return false
            }

            if (this.courseTypeText) {
                params['subject_id'] = this.courseTypeText
            }else{
                this.$message({
                    showClose: true,
                    message: '课程类型不能为空',
                    type: 'warning'
                });
                return false
            }

            if (this.editorValueBody) {
                params['questions_stem'] = this.editorValueBody
            }else{
                this.$message({
                    showClose: true,
                    message: '题干不能为空',
                    type: 'warning'
                });
                return false
            }

            if (this.editorValueAnswer) {
                params['questions_answer'] = this.editorValueAnswer
            }else{
                this.$message({
                    showClose: true,
                    message: '答案不能为空',
                    type: 'warning'
                });
                return false
            }

            if (this.textTitle) {
                params['title'] = this.textTitle
            }else{
                this.$message({
                    showClose: true,
                    message: '标题类型不能为空',
                    type: 'warning'
                });
                return false
            }

            console.log(params);

            this.$axios.post('/api/exam/questions', params).then(({data})=>{
                that.$message({
                    showClose: true,
                    message: data.msg,
                    type: 'success'
                });
            }).catch((err)=>{
                console.log(err);
            });
        }
    },
    created() {

        let localTest = cookie.get('addTestSave');
        if(localTest){
            let params = JSON.parse(localTest);
            this.testType = params['exam_id'];
            this.topicType = params['questions_type_id'];
            this.courseTypeText = params['subject_id'];
            this.editorValueBody = params['questions_stem'];
            this.editorValueAnswer = params['questions_answer'];
            this.textTitle = params['title'];
        }

        this.$axios.get('/api/exam/subject').then(({data})=>{
            this.courseTypeArr = data.data
        }).catch((err)=>{
            console.log(err);
        });

        this.$axios.get('/api/exam/examType').then(({data})=>{
            this.testArr = data.data
        }).catch((err)=>{
            console.log(err);
        });

        this.$axios.get('/api/exam/getQuestionsType').then(({data})=>{
            this.topicArr = data.data
        }).catch((err)=>{
            console.log(err);
        });

        this.$axios.get('/api/user/userInfo').then(({data})=>{
            this.userInfo = data.data;
        }).catch((err)=>{
            console.log(err);
        });
    }
}
</script>

<style scoped>
  .wrap {
    width: 100%;
    min-height: 100%;
    padding: 0 24px 24px 24px;
    box-sizing: border-box;
    background-color: #f0f2f5;
  }
  .title {
    padding: 20px 0;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: normal;
  }
  .add-body{
    box-sizing: border-box;
    padding: 24px;
    background-color: #fff;
    border-radius: 10px;
  }
  .add-body>h3{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: normal;
  }
  .question-body-title{
    margin-bottom: 8px;
  }
  .answer{
    margin-bottom: 8px;
  }
  .question-body-title-inp{
    margin-bottom: 32px;
  }
  .question-body-msg{
    margin-bottom: 8px;
  }
  .type-select>div{
    margin-bottom: 24px;
  }
  .textarea{
    margin-bottom: 24px;
  }
</style>
