<template>
    <div class="room-container">
        <div class="room">
            <h3>教室管理</h3>
            <div class="btn-table">
                <el-row>
                    <el-button type="primary" @click="layerIsShowFn">+&nbsp;添加教室</el-button>
                </el-row>
                <RoomTable></RoomTable>
            </div>
        </div>
        <div class="layer" v-show="layerIsShow">
            <Layer :layerIsShow="layerIsShow" @resetLayer ="resetLayer"></Layer>
        </div>
    </div>
</template>

<script>
import RoomTable from '@/components/RoomTable'
import Layer from '@/components/Layer'
export default {
    components:{
        RoomTable,
        Layer
    },
    data(){
        return{
            layerIsShow:false
        }
    },
    methods:{
        layerIsShowFn(){
            this.layerIsShow = !this.layerIsShow
        },
        resetLayer(bool){
            this.layerIsShow = bool
        }

    }
}
</script>

<style scoped>
    .room-container{
        width: 100%;
        height: 100%;
    }
    .room{
        width: 100%;
        height: 100%;
        padding: 2%;
    }
    .room h3{
        font-size: 1.5em;
        font-weight: normal;
        margin: 20px 0;
    }

    .room .btn-table{
        width: 100%;
        height: auto;
        background: #fff;
        border-radius: 15px;
        margin: 40px 0;
        padding: 24px;
    }
    .btn-table .el-row .el-button{
        width: 158px;
        height: 40px;
        padding: 0 40px;
        background: #0139fd;
        border-radius: 4px;
    }
    .layer{
        position: fixed;
        top: 0;
        right: 0;

        background-color: rgba(0, 0, 0, 0.65);
        height: 100%;
        width: 100%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
