<template>
    <div class="grade-container">
        <div class="grade">
            <h3>班级管理</h3>
            <div class="btn-table">
                <el-row>
                    <el-button @click="layerShowFn" type="primary">+&nbsp;添加班级</el-button>
                </el-row>
                <el-table
                        :data="gradeData"
                        border
                        style="width: 100%">
                    <el-table-column
                            fixed
                            prop="grade_name"
                            label="班级名"
                            style="width: 100%">
                    </el-table-column>
                    <el-table-column
                            prop="subject_text"
                            label="课程名"
                            style="width: 100%">
                    </el-table-column>
                    <el-table-column
                            prop="room_text"
                            label="教室名"
                            style="width: 100%">
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="操作"
                            style="width: 100%">
                        <template slot-scope="scope">
                            <el-button @click="handleClick(scope.row)" type="text" size="small">修改</el-button>
                            <el-button type="text" size="small" @click="removeGrade(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
        <div class="layer" v-show="layerIsShow" >
            <div class="layer-content">
                <div class="layer-title">
                    <h3>添加班级</h3>
                    <h3 @click="layerShowFn">×</h3>
                </div>
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="95px" class="demo-ruleForm">
                    <el-form-item label="班级名" prop="grade">
                        <el-input v-model="ruleForm.grade" placeholder="请选择班级名"></el-input>
                    </el-form-item>
                    <el-form-item label="教室名" prop="room">
                        <el-select v-model="ruleForm.room" placeholder="请选择教室号">
                            <el-option
                                    v-for="item in room"
                                    :key="item.room_id"
                                    :label="item.room_text"
                                    :value="item"
                            ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="课程名" prop="subject">
                        <el-select v-model="ruleForm.subject" placeholder="请选择课程号">
                            <el-option
                                    v-for="item in subject"
                                    :key="item.subject_id"
                                    :label="item.subject_text"
                                    :value="item"
                            ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="resetForm('ruleForm')" >取消</el-button>
                        <el-button type="primary" @click="submitForm(ruleForm)">提交</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        //修改
        <div class="change-layer" v-show="changeShow">
            <div class="change-layer-content">
                <div class="change-layer-title">
                    <h3>添加班级</h3>
                    <h3 @click="changeLayerShowFn">×</h3>
                </div>
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="95px" class="demo-ruleForm">
                    <el-form-item label="班级名" prop="grade">
                        <el-input

                                v-model="thatObj.grade_name"
                                :disabled="true">
                        </el-input
                        >
                    </el-form-item>
                    <el-form-item label="教室名" prop="room">
                        <el-select v-model="ruleForm.room" placeholder="请选择教室号">
                            <el-option
                                    v-for="item in room"
                                    :key="item.room_id"
                                    :label="item.room_text"
                                    :value="item"
                            ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="课程名" prop="subject">
                        <el-select v-model="ruleForm.subject" placeholder="请选择课程号">
                            <el-option
                                    v-for="item in subject"
                                    :key="item.subject_id"
                                    :label="item.subject_text"
                                    :value="item"
                            ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="resetChange('ruleForm')" >取消</el-button>
                        <el-button type="primary" @click="changeSubmit(ruleForm)">提交</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        handleClick(row) {
            this.thatObj = row
            this.changeShow = !this.changeShow
        },
        submitForm() {
            // 添加班级
            this.$axios.post('/api/manger/grade',
                {
                    'grade_name':this.ruleForm.grade,
                    'room_id':this.ruleForm.room.room_id,
                    'subject_id':this.ruleForm.subject.subject_id
                }
            ).then((res)=>{
                if(res.data.code){
                    this.layerIsShow = !this.layerIsShow
                    this.getGrade('/api/manger/grade')
                    this.ruleForm.grade = null
                }
            })
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
            this.layerIsShow = !this.layerIsShow
        },
        resetChange(formName) {
            this.$refs[formName].resetFields();
            this.changeShow = !this.changeShow
        },
        layerShowFn(){
            this.layerIsShow = !this.layerIsShow
        },
        changeLayerShowFn(){
            this.changeShow = !this.changeShow
        },
        // 提交修改
        changeSubmit(){
            this.$axios.put('/api/manger/grade/update', {
                'grade_id':this.thatObj.grade_id,
                'grade_name':this.thatObj.grade_name,
                'subject_id':this.ruleForm.subject.subject_id,
                'room_id':this.ruleForm.room.room_id,
            }).then((res)=>{
                this.changeShow = !this.changeShow
                if(res.data.code){
                    this.getGrade('/api/manger/grade')
                }
            })
        },
        // 删除
        removeGrade(obj){
            let id = obj.grade_id

            this.$axios.delete('/api/manger/grade/delete', {
                data: { 'grade_id': id}
            })
                .then(res => {
                    if(res.data.code){
                        this.getGrade('/api/manger/grade')
                    }
                })
        },
    },

    data() {
        return {
            gradeData:[],
            subject:[],
            room:[],
            thatObj:{},
            ruleForm: {
                grade: '',
                room: '',
                subject:'',
            },
            rules: {
                grade: [
                    { required: true, message: '请输入班级名', trigger: 'blur' },
                    { min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur' }
                ],
                room: [
                    { required: true, message: '请选择教室名', trigger: 'change' }
                ],
                subject:[
                    { required: true, message: '请选择课程名', trigger: 'change' }
                ],
            },
            layerIsShow:false,
            changeShow:false
        }
    },
    created() {
        // 获取所有班级
        this.getGrade('/api/manger/grade')

        // 全部教室
        this.getRoom('/api/manger/room')

        // 全部课程
        this.$axios.get('/api/exam/subject').then(({data})=>{
            this.subject = data.data
        }).catch((error)=>{
            console.log(error)
        })
    }
}
</script>

<style scoped>
    .grade-container{
        width: 100%;
        height: 100%;
    }
    .grade{
        width: 100%;
        height: 100%;
        padding: 2%;
    }
    .grade h3{
        font-size: 1.5em;
        font-weight: normal;
        margin: 20px 0;
    }
    .grade .btn-table{
        width: 100%;
        height: auto;
        background: #fff;
        border-radius: 15px;
        margin: 40px 0;
        padding: 24px;
    }
    .btn-table .el-row .el-button{
        width: 158px;
        height: 40px;
        padding: 0 40px;
        background: #0139fd;
        border-radius: 4px;
    }
    .layer,.change-layer{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.65);
        height: 100%;
        width: 100%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .layer-content,.change-layer-content{
        width: 550px;
        height: 550px;
        background: #ffffff;
    }
    .layer-title,.change-layer-title{
        display: flex;
        justify-content: space-between;
        padding: 20px ;
        border-bottom: 1px solid #cccccc;
    }
    .layer-title h3,.chnge-layer-title h3{
        font-size: 22px;
        font-weight: normal;
    }
    .layer-title h3:nth-child(2),.change-layer-title h3:nth-child(2){
        color: #aaaaaa;
    }
    .demo-ruleForm{
        margin-top: 30px;
    }
    .demo-ruleForm .el-input,.demo-ruleForm .el-select{
        width: 95%;
    }

</style>
