<template>
  <div class="wrap">
    <h2 class="title">
      查看试题
    </h2>
    <div class="selectBox" >
      <div v-if="courseTypeArr.length" class="selectBox-first-div">
        <div class="selectBox-title">课程类型</div>
        <!--      <span v-for="(item) in courseType" :key="item.subject_id">{{item.subject_text}}</span>-->
        <el-radio-group v-model="courseTypeText" class="selectFontSet">
          <el-radio-button label="全部" @click.native="getCourseId('all')"></el-radio-button>
          <el-radio-button v-for="item in courseTypeArr" :label="item.subject_text" :key="item.subject_id" @click.native="getCourseId(item.subject_id)"></el-radio-button>
        </el-radio-group>
      </div>

      <div v-if="testArr.length&&topicArr.length">
        <div class="select-box-selectType">
          <p>考试类型</p>
          <el-select v-model="testType" placeholder="">
            <el-option
              v-for="item in testArr"
              :key="item.exam_id"
              :label="item.exam_name"
              :value="item.exam_id">
            </el-option>
          </el-select>
          <p>题目类型</p>
          <el-select v-model="topicType" placeholder="">
            <el-option
              v-for="item in topicArr"
              :key="item.questions_type_id"
              :label="item.questions_type_text"
              :value="item.questions_type_id">
            </el-option>
          </el-select>
          <p class="search">
            <el-button type="primary" icon="el-icon-search"  @click="search">查询</el-button>
          </p>
        </div>
      </div>

      <div v-if="allTopicArr.length" class="all-topic">
          <div class="topic-box" v-for="(item,index) in allTopicArr" :key="index">
              <div class="topic-box-left">
                <p>{{item.title}}</p>
                <div class="topic-box-left-span">
                  <span>{{item.questions_type_text}}</span>
                  <span>{{item.subject_text}}</span>
                  <span>{{item.exam_name}}</span>
                </div>
                <span class="topic-box-left-author">{{item.user_name}}发布</span>
              </div>
            <div class="topic-box-right">
              <el-button type="text" class="topic-box-right-edit">编辑</el-button>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'LookTest',
    data(){
        return{
            courseTypeArr:[], //课程类型数组
            courseTypeText:'', //课程类型文字
            courseTypeId:'', //课程id

            testArr:[], //考试类型数组
            testType:'', //考试类型

            topicArr:[], //题目类型数组
            topicType:'', //题目类型

            allTopicArr:[], //所有试题数组
        }
    },
    methods:{
        getCourseId(id){  //获取课程id
            this.courseTypeId = id
        },
        search(){
            let params = {};
            this.testType ? params['exam_id'] = this.testType : console.log('无考试类型参数');
            this.topicType ? params['questions_type_id'] = this.topicType : console.log('无试题类型参数');

            if(this.courseTypeId){
                if(this.courseTypeId !== "all"){
                    params['subject_id'] = this.courseTypeId
                }
            }

            this.$axios.get('/api/exam/questions/condition', params).then(({data})=>{
                console.log(data.data);
                // that.allTopicArr = data.data
            }).catch((err)=>{
                console.log(err);
            });
        }
    },
    created() {
        this.$axios.get('/api/exam/subject').then(({data})=>{
            this.courseTypeArr = data.data
        }).catch((err)=>{
            console.log(err);
        });

        this.$axios.get('/api/exam/examType').then(({data})=>{
            this.testArr = data.data
        }).catch((err)=>{
            console.log(err);
        });

        this.$axios.get('/api/exam/getQuestionsType').then(({data})=>{
            this.topicArr = data.data
        }).catch((err)=>{
            console.log(err);
        });

        this.$axios.get('/api/exam/questions/new').then(({data})=>{
            this.allTopicArr = data.data
        }).catch((err)=>{
            console.log(err);
        })
    }
}
</script>

<style scoped>
  .wrap {
    width: 100%;
    min-height: 100%;
    padding: 0 24px 24px 24px;
    box-sizing: border-box;
    background-color: #f0f2f5;
  }

  .title {
    padding: 20px 0;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: normal;
  }
  .selectBox{
    box-sizing: border-box;
    padding: 24px;
    background-color: #fff;
    border-radius: 10px;
  }
  .selectBox-first-div{
    display: flex;
  }
  .selectBox>div:first-child{
    margin-bottom: 24px;
  }
  .selectBox-title{
    width: 80px;
    flex-shrink: 0;
    line-height: 30px;
  }
  .select-box-selectType{
    display: flex;
  }
  .select-box-selectType>p{
    width: 80px;
    flex-shrink: 0;
    line-height: 35px;
  }
  .select-box-selectType>div:nth-child(2){
    flex-shrink: 0;
    margin-right: 15px;
  }
  .all-topic{
    box-sizing: border-box;
    padding: 24px;
  }
  .topic-box{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #dddfe2;
    font-size: 15px;
  }
  .topic-box-left>p{
    color: #595959;
    margin-bottom: 10px;
  }
  .topic-box-left>div{
    margin-bottom: 10px;
  }
  .topic-box-right-edit{
    transform: translateY(50%);
  }
  .topic-box-left-span>span{
    font-size: 13px;
    padding: 2px 8px;
    margin-right: 5px;
    border-radius: 3px;
  }
  .topic-box-left-span>span:first-child{
    color:#1890ff;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
  }
  .topic-box-left-span>span:nth-child(2){
    color:#2f54eb;
    background-color: #f0f5ff;
    border: 1px solid #adc6ff;
  }
  .topic-box-left-span>span:nth-child(3){
    color:#fa8c16;
    background-color: #fff7e6;
    border: 1px solid #ffd591;
  }
  .topic-box-left-author{
    color: #0139FD;
  }
  .search{
    margin-left: 30px;
  }
</style>
