<template>
    <div class="manage">
        <div class="manage-counter">
            <div class="manage-counter-head">学生管理</div>
            <!-- 搜索 -->
            <div class="manage-counter-sousuo">
                    <el-input v-model="input" placeholder="输入学生姓名"></el-input>
                    <Selects :place= room :roomst=roomst :flag=true />
                    <Selects :place= classes :grade=grade  :flag=false />
                    <el-input v-model="val" placeholder="输入学号"></el-input>
                    <el-button type="primary" @click="clickFn">搜索</el-button>
                    <el-button type="primary" @click="headleFn">重置</el-button>
            </div>
            <!-- 列表 -->
            <div>
                <Tebs :data=list />
            </div>
            <!-- 分页器 -->
             <Page :list=list />
        </div>
    </div>
</template>

<script>
import Selects from '../../components/selects'
import Tebs from '../../components/tebs'
import Page from '../../components/page'
export default {
    props: {

    },
    components: {
        Selects,
        Tebs,
        Page,

    },
    data () {
        return {
            room: '请选择教室号',
            classes: '班级名',
            input: '', // 姓名
            val: '', // 学号
            root: '', // 教室号
            belnt: '', // 班级
            list: [], //总数据
            data: [], // 总数据
            grade: [], // 班级
            roomst: [], // 教室
        }
    },
    computed: {

    },
    methods: {
        // 搜索
        clickFn () {
            // console.log(this.val, this.input, this.list)
            let arr = this.list.filter(item => {
                if (item.student_name === this.input || item.student_id === this.val || item.grade_name === this.belnt || item.room_text === this.root) {
                    // console.log(item)
                    return item
                }

            })
            this.list = arr
            // console.log(arr)
        },

        // 重置
        headleFn () {
            this.input = '',
            this.val = '',
            this.root = '', // 教室号
            this.belnt = '', // 班级
            this.list = this.data
            this.$bus.$emit('clent', '')
        },

        // 获取已经分班学生
        getDate () {
            this.$axios.get('/api/manger/student').then(({data})=>{
                // console.log(data)
                this.list = data.data
                this.data = data.data

                // console.log(this.list)
                let arr = []
                let srr = []
                this.list.filter(item => {
                    arr.push(item.grade_name)
                    srr.push(item.room_text)
                })
                let ar = [...new Set(arr)]
                let sr = [...new Set(srr)]
                // console.log(ar, sr)
                this.grade = ar
                this.roomst = sr

            }).catch((err)=>{
                console.log(err);
            }),
            // 获取未分班分班学生
            this.$axios.get('/api/manger/student/new').then(({data:{data}}) => {

                let arr = this.list.concat(data)
                this.list = arr
                this.data = arr
                // console.log(arr)
            }).catch((err)=>{
                console.log(err);
            })

        }
    },
    created () {
        // 获取已经分班学生
        this.getDate()
    },
    mounted () {
        // 教室号
        this.$bus.$on('checge', (res) => {
            this.root = res
            // console.log(this.root, this.belnt)
        })
        // 班级号
        this.$bus.$on('change', (res) => {
            this.belnt = res
            // console.log(this.root, this.belnt)
        }),
        this.$bus.$on('delete', (res) => {
            this.$axios.delete(`/api/manger/student/${res.student_id}`, {   //获取所有试题
                params:{id:res.student_id}
            }).then((res) => {
                console.log(res)
                this.getDate()
            }).catch((err)=>{
                console.log(err);
            })
        })


    }

}
</script>

<style scoped>
.manage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.manage-counter{
    padding: 0 24px 24px;
}
.manage-counter-head{
    padding: 20px 0 ;
    margin-top: 10px;
    font-size: 21px;
}

.manage-counter-sousuo{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}
.el-select {
    margin-right: 15px;
}
.el-button--primary {
    color:#fff !important;
    width: 120px;
    margin-right: 15px;
}
.el-input, .el-input__inner{
    width: 220px;
    margin-right: 15px;
}

</style>
