<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
    name: "App"
};
</script>

<style>
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  html,body{
    width: 100%;
    height: 100%;
  }

  #app {
    width: 100%;
    height: 100%;
    background: #f4f7f9 !important;
  }

  #app > div {
    width: 100%;
    height: 100%;
  }

  .el-radio-button__inner {
    font-size: 12px !important;
  }

</style>

